# Ignore everything
*

# Always keep ignore config files themselves
!.gitignore
!.gitattributes

# Whitelisted folders (and their contents)
!config/
!config/**
!kubejs/
!kubejs/**
!mods/
!mods/**
!resourcepacks/
!resourcepacks/**
!shaderpacks/
!shaderpacks/**